<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<style type="text/css">
</style>
</head>
<body>
	<h1>Welcome to Online Food Ordering</h1>


	<div class="row">
		<div class="column">
			<div class="card">
				<img src="img/food1.jpg" alt="Avatar"><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food2.jpg" alt="Avatar"><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food1.jpg" alt="Avatar" ><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food2.jpg" alt="Avatar" ><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="column">
			<div class="card">
				<img src="img/food1.jpg" alt="Avatar"><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food2.jpg" alt="Avatar"><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food1.jpg" alt="Avatar" ><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food2.jpg" alt="Avatar" ><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
	</div>


<div class="row">
		<div class="column">
			<div class="card">
				<img src="img/food1.jpg" alt="Avatar"><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food2.jpg" alt="Avatar"><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food1.jpg" alt="Avatar" ><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food2.jpg" alt="Avatar" ><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="card">
				<img src="img/food1.jpg" alt="Avatar"><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food2.jpg" alt="Avatar"><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food1.jpg" alt="Avatar" ><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
		
		<div class="column">
			<div class="card">
				<img src="img/food2.jpg" alt="Avatar" ><br> <span><b>Biscuit</b></span>
				<span style="margin-left: 20px"> Price: 20 Rs</span> <span
					style="margin-left: 20px">20% off</span>
			</div>
		</div>
	</div>



</body>
</html>